{
    email jpassano@gmail.com
    auto_https disable_redirects
}

landing_dev.aztech-ai.com {
    # Static files
    @static {
        path /static/*
    }
    handle @static {
        root * /app/staticfiles
        file_server
    }
    # Media files
    @media {
        path /media/*
    }
    handle @media {
        root * /app/media
        file_server
    }
    # Django
    reverse_proxy app:8000
}
log { output stdout }