  {% load mptt_tags element_tags %}
  {% if element.props.ordered %}
      <ol class="{{ element.css_classes }}" {% for key, value in element.html_attrs.items %} {{ key }}="{{ value }}"{% endfor %}>
  {% else %}
      <ul class="{{ element.css_classes }}" {% for key, value in element.html_attrs.items %} {{ key }}="{{ value }}"{% endfor %}>
  {% endif %}
      {% spaceless %}
          {% recursetree element.children.all %}
              {% if node.type == 'list_item' %}
                  <li class="{{ node.css_classes }}" {% for key, value in node.html_attrs.items %} {{ key }}="{{ value }}"{% endfor %}>
                      {{ node.content|safe }}
                      {% recursetree node.children.all %}
                          {% with element=node template_path=node|get_partial_template %}
                              {% include template_path %}
                          {% endwith %}
                      {% endrecursetree %}
                  </li>
              {% endif %}
          {% endrecursetree %}
      {% endspaceless %}
  {% if element.props.ordered %}</ol>{% else %}</ul>{% endif %}