{% extends 'base.html' %}
{% load mptt_tags element_tags static %}

{% block head %}
    {% for css_file in page.css_files %}
        {% if css_file|slice:":4" == "http" or css_file|slice:":5" == "https" %}
            <link rel="stylesheet" href="{{ css_file }}">
        {% else %}
            <link rel="stylesheet" href="{% static css_file %}">
        {% endif %}
    {% endfor %}
    {% if edit_mode %}
        <link rel="stylesheet" href="{% static 'css/editor.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% if edit_mode %}
        <script src="{% static 'js/editor.js' %}"></script>
    {% endif %}

    {% spaceless %}
        {% recursetree root_elements %}
            {% render_element element=node %}
        {% endrecursetree %}
    {% endspaceless %}
{% endblock %}